.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 4px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.primary {
    color: #f5f5f5;
    background-color: var(--theme-500);
}
.primary:hover {
    background-color: var(--theme-600);
    box-shadow: 0px 0px 10px var(--theme-700);
}

.secondary {
    color: #f5f5f5;
    background-color: #7a7a7a;
}

.secondary:hover {    
    background-color: #686868;
    box-shadow: 0px 0px 10px #6e6e6e;
}

.ghost {
    background-color: transparent;
    color: var(--theme-400);
}

.ghost:hover {
    color: var(--theme-300);
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.1));
}



.md {
    font-size: 16px;    
}

.sm {
    font-size: 14px;    
}

.lg {
    font-size: 20px;
}