.welcome {
   width: 100%;
   min-height: calc(100vh - 91px);
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.part1 {
   height: calc((100vh - 91px) / 2);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: calc((100vh - 91px) / 2);
   background: url('/welcome-bg.jpg');
   background-size: cover;
}

.part1Wrapper {
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:15px;
   background: linear-gradient(
      to top,
      var(--theme-color-bg) 0%,
      #1a202c75 100%
   );
}
.part1Title {
   color: var(--theme-400);
   text-align: center;
   font-family: 'Merriweather';
   font-weight: 700;
   font-size: 36px;
   position: relative;
   z-index: 1;
}

.part1Subtitle {
   color: #b4b4b4;
   font-size: 18px;
}

.part1Actions {
   margin-top: 15px;
   display: flex;
}

.part2 {
   height: calc((100vh - 91px) / 2);
   background-color: var(--theme-color-bg);
   display: flex;
   flex-direction: column;
   overflow: hidden;
   align-items: center;
   justify-content: center;
}

.circle {  
    width: 200vh;
    height: 200vh;
    transform: translateX(0) translateY(15vh) rotate(-35deg);    
    background-color: var(--theme-800);
    border-radius: 50%;
    position: relative;
}


@media (min-width: 768px) {
   .welcome {
      flex-direction: row;
   }
   .part1,
   .part2 {
      width: 50%;
      height: 100%;
   }
   .part1Wrapper {
      background: linear-gradient(
      to left,
      var(--theme-color-bg) 0%,
      #1a202c75 100%
   );
   }
   .part1Title {
      font-size: 48px;
   }
   
}

@media (min-width: 1091px) {
   .part1Title::after {
      content: '';
      width: 100%;
      height: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--theme-900);
      margin: 0 auto;
      z-index: -1;
   }
}