.selectContainer {
    background-color: var(--theme-input-bg);
    max-width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: vaR(--theme-400) 1px solid;
    color: var(--theme-400);
    min-width: 180px;
}

.select {
    width: 100%;
    padding: 10px;
    background: var(--theme-input-bg);
    outline: none;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.select:hover {
    background-color: var(--theme-color-bg);
}