.pricing {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0;
    gap: 20px;
    position: relative;
    overflow: hidden;
 }

 .company {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    gap: 20px;
    position: relative;
    overflow: hidden;
 }

 .pricingActions {
    display: flex;
    padding: 20px;
    margin: 0;
    gap: 20px;

 }

 .addItem {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    width: 450px;
    height: 100%;
    gap: 20px;
 }

 .addItemErrors {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(168, 0, 0);
    font-size: 14px;
    color: white;
    border-radius: 6px;
 }

 .addItemErrorsClose {
    font-size: 18px;
    cursor: pointer;
 }

 .itemsHeader {
   font-size: 24px;
   padding: 15px;
 }

 .pricingItem {
   display: flex;
   width: 100%;
   padding: 10px;
 }

 .pricingItemDescription {
   display: flex;
   width: 70%;
   padding: 10px;
   border-right: var(--theme-900) 1px solid;
   align-items: center;
 }

 .pricingItemQuantity {
   display: flex;
   width: 20%;
   padding: 10px;
   border-right: var(--theme-900) 1px solid;
   align-items: center;
   justify-content: center;
 }

 .removeItem {
   display: flex;
   width: 10%;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
 }

 .removeItem:hover {
   color: var(--theme-400);
 }