.footer {
    width: 100%;
    background-color: var(--theme-900);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--theme-900);
}

.cardLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.logo {
    font-family: 'Magneto';
    font-size: 36px;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

.card {
    min-width: 290px;
    padding: 20px;    
}

.cardTitle {
    font-size: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.cardItemsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 15px;
    padding: 0 20px;
    overflow: hidden;
}

